/* Style sheet created by: Student's First Name Student's Last Name, Today's Date */

/* Style for body specifies a background color */
body {
	background-color: #F3DCFC;
}

/* Style for the container element */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.8em;
	padding: 0.5%;
	background-color: #6B3082;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

/* Style for the main element  */
main {
	display: block;
	padding: 1em;
	box-shadow: .5em .5em .5em #6B3082;
	background-color: #FFFFFF;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
}

main ul  li {
	padding-bottom: 1em;
	list-style-type: square;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 4em;
}
