/* Style sheet created by: Student's First Name Student's Last Name, Today's Date */

/* Style for body specifies a background color */
body {
	background-color: #000033;
}

/* Style for the container centers the page and specifies the width */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	margin-top: 0.2em;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

/* Style specifies color for h1 element */
h1 {
	color: #FFFFFF;
}

/* Style for the main */
main {
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 1em;
	background-color: #E6E6FF;
	border: inset 0.2em #7A6D68; 
}

/* Style center aligns paragraph elements within the main element */
main p {
	text-align: center;
}

/* Style for figure element */
figure  {
	text-align: center;
}

/* Style for img element */
img {
	padding: 1em;
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .90em;
	text-align: center;
	margin-top: 2em;
	color: #FFFFFF;
}