/* Style sheet created by: Student's First Name Student's Last Name, Today's Date */

/* Style for body specifies a background color */
body {
	background-color: #FFFFFF;
}

/* Style for the container element */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	padding: 0.5%;
}

/* Style for the main element  */
main {
	display: block;
	margin: 1%;
	padding: 1em;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}
