/* Style sheet created by: Student's First Name Student's Last Name, Today's Date */

/* Style for body specifies a background color */
body {
	background-color: #FFFFFF;
}

/* Style for the container element */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #4E9657;
	padding: 0.5%;
	margin-left: 1%;
	font-size: 3em;
}

/* Style for the nav element */
nav {
	padding: 0.5%;
}

/* Style for the nav list item elements */
nav li {
	display: inline;
}

/* Style for the nav links element */
nav li a {
	color: #4E9657;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}