h1, p {
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

table {
  background-color: gold;
  border-radius: 5px;
  border-collapse: collapse;
  }

table td {
    border: 1px solid black;
    padding: 5px;
}